{% extends "base.html" %}

{% block content %}
<p>
    Do you already have an account on one of these sites? Click the icon to

    <i>log in</i> with it here:

</p>
<div>
  <ul class="thumbs">
    <li>
        <a rel="nofollow" href="{% url socialauth_begin 'twitter' %}"><img title="log in with Twitter" src="{% media_url %}/images/twitter_icon.png" /></a>
    </li>
    <li>
        <a rel="nofollow" href="{% url socialauth_begin 'google-oauth2' %}"><img title="log in with Google Oauth2" src="{% media_url %}/images/google_icon.png" /></a>
    </li>
    <li>
        <a rel="nofollow" href="{% url socialauth_begin 'facebook' %}"><img title="log in with Facebook" src="{% media_url %}/images/facebook_icon.png" /></a>
    </li>
    <li>
        <a rel="nofollow" href="{% url socialauth_begin 'google-oauth' %}"><img title="log in with Google Oauth" src="{% media_url %}/images/gmail_icon.png" /></a>
    </li>
  </ul>
</div>
{% endblock %}

{% block resources %}
    {% css "css/login.css" %}
{% endblock %}
